{% extends "base.html" %}

{% block content %}

<main>
    <div>
        <h1>{{ list.name }}</h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in lists %}
                <tr>
                    <td>{{ detail.task }}</td>
                    <td>{{ detail.due_date|date:"M d, Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}
